.check_page{
    &--container{
        margin-left: 5%;
        margin-right: 5%;

        -webkit-box-shadow: 0px 2px 16px 8px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 2px 16px 8px rgba(0,0,0,0.22);
        box-shadow: 0px 2px 16px 8px rgba(0,0,0,0.22);

        border-radius: 15px;
    }
    &--btn{
        &--back{
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 30px;
        }
    }
    &--table{
        &--container{
            display: flex;
            flex-direction: row;
            flex-grow: 1;
        }
    }
    &--store{
        &--container{
            display: flex;
            flex-direction: row;

            text-align: center;
        }
        &--object{
            margin-top: 40px;
            margin-left: 30px;

            width: 100px;
            height: 100px;
            background-color: green;

            &--text{
                margin-top: 30px;

                text-align: center;
                color: white;
                font-size: 20px;
            }

            &:hover{
                cursor: pointer;
            }
        }
        &--detail{
            &--container{
                margin-top: 40px;
                margin-left: 30px;
            }
            &--text{
                color: black;
            }
        }
    }
}