.check_page{
    &--container{
        margin-left: 5%;
        margin-right: 5%;

        -webkit-box-shadow: 0px 2px 16px 8px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 2px 16px 8px rgba(0,0,0,0.22);
        box-shadow: 0px 2px 16px 8px rgba(0,0,0,0.22);

        border-radius: 15px;
    }
    &--btn{
        &--back{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }
}