body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
